.pagination {
    margin-top: 21px;
    justify-content: center;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-column: 2;
    text-align: center;
    align-items: center;
  
    &__link {
      justify-content: center;
      display: flex;
      align-items: center;
      width: 40px;
      height: 40px;
      color: var(--dark-shade50);
      font-size: var(--second-size);
  
      &-active {
        border-radius: 50%;
        color: var(--light-color);
        background: var(--primary-gradient);
        font-weight: 700;
      }
  
      &-forward {
        justify-content: center;
        display: flex;
        align-items: center;
        width: 40px;
        height: 40px;
        color: var(--dark-shade50);
        font-size: var(--second-size);
        background: var(--primary-second);
        border-radius: 50%;
      }
  
      &:hover {
        border-radius: 50%;
        font-weight: 700;
        color: var(--light-color);
        background: var(--primary-gradient);
      }
    }
  
    &__text {
      margin-top: 11px;
      color: var(--dark-shade75);
      line-height: 24px;
    }
  }