mixin radio
    div(class="radio")
        label(class="radio__label") 
            input(class="radio__input" type="radio" name="rd" checked)
            span(class="radio__span")
            p(class="radio__text") Мужчина
        label(class="radio__label")
            input(class="radio__input" type="radio" name="rd")
            span(class="radio__span")
            p(class="radio__text") Женщина