.radio {
    display: flex;
    gap: 0 20px;
    margin-bottom: 20px;
  
    &__label {
      display: flex;
      align-items: center;
    }
  
    &__input {
      position: absolute;
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: rect(0 0 0 0);
    }
  
    &__text {
      padding-left: 30px;
    }
  }
  
  .radio__span {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid var(--dark-25, rgba(31, 32, 65, 0.25));
    background: #fff;
  }
  
  .radio__input:checked+.radio__span::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--Primary-Color, #bc9cff);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .radio__input:checked+.radio__span {
    border: 1px solid var(--Primary-Color, #bc9cff);
  }