mixin rating
    div(class="rating")
        div(class="rating__items flex")
            input(class="rating__item" name="rating" type="radio" value="5" id="rating__5")
            label(class="rating__label" for="rating__5")
            input(class="rating__item" name="rating" type="radio" value="4" id="rating__4")
            label(class="rating__label" for="rating__4")
            input(class="rating__item" name="rating" type="radio" value="3" id="rating__3")
            label(class="rating__label" for="rating__3")
            input(class="rating__item" name="rating" type="radio" value="2" id="rating__2")
            label(class="rating__label" for="rating__2")
            input(class="rating__item" name="rating" type="radio" value="1" id="rating__1")
            label(class="rating__label" for="rating__1")
