mixin button(options,tag,href)
  -
    let spanName = "span"
    const {
      size="",
        } =  options

    const sizeMode = {
      small: "button-small",
      large: "button-large",
      stretching: "button-stretching"
    }

  #{tag}(class="btn-reset flex" class!=attributes.class class=[sizeMode[size]] href=href)
    span()=options.span