mixin room-booking
    div(class="booking" class!=attributes.class)
        div(class="booking__header flex")
            div(class="booking__number flex")
                span(class="booking__symbol") № 
                span(class="booking__value") 888
                span(class="booking__luxe") люкс
            div(class="booking__prices flex")
                p(class="booking__value-room") 9 990₽ 
                p(class="booking__text-room") в сутки
        div(class="booking__box")
            div(class="booking__start")
                h3(class="booking__title") прибытие
                +default-textfield("ДД.ММ.ГГГГ","start")(class="booking__input")
                +calendar
            div(class="booking__end")
                h3(class="booking__title") выезд
                +default-textfield("ДД.ММ.ГГГГ","end")(class="booking__input")
        div(class="booking__guests")
            h3(class="booking__title") гости
            +dropdown-guests("Сколько гостей")(class="drop-hero")(class="drop-hero__input")
        div(class="booking__prices")
            div(class="booking__full")
                div(class="booking__price flex")
                    span(class="booking__count") 9 990₽ х 4 суток
                    span(class="booking__count") 39 960₽
                div(class="booking__price flex")
                    span(class="booking__count") Сбор за услуги: скидка 2 179₽
                    img(class="booking__info" src=require('/src/images/info.svg') alt='info')
                    span(class="booking__count") 0₽
                div(class="booking__price flex")
                    span(class="booking__service") Сбор за дополнительные услуги
                    img(class="booking__info" src=require('/src/images/info.svg') alt='info')
                    span(class="booking__count") 300₽
            div(class="booking__total flex")
                p(class="booking__totaltext") Итого
                P(class="booking__totaltext") 38 081₽
        +button({span:"подобрать номер", size:"stretching"},"a","sign-in.pug")