.reviews {
  margin-bottom: 30px;

  &__box {
    padding-top: 20px;
  }

  &__content {
    width: 100%;
  }

  &__titles {
    justify-content: space-between;
    align-items: center;
    width: 705px;
  }

  &__text {
    color: rgba(31, 32, 65, 0.5);
    line-height: 14px;
  }

  &__img {
    border: 2px solid #fff;
    border-radius: 32px;
    -webkit-box-shadow: 0 10px 20px rgba(31, 32, 65, 0.1);
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.1);
    height: 48px;
    width: 48px;
  }

  &__descr {
    padding-left: 10px;
  }

  &__name {
    color: var(--dark-75, rgba(31, 32, 65, 0.75));
    font-family: var(--second-family);
    font-weight: 700;
    line-height: 24px;
  }

  &__days {
    color: var(--dark-75, rgba(31, 32, 65, 0.75));
    line-height: 24px;
  }

  &__bot {
    line-height: 24px;
  }

  &__comment {
    width: 660px;
    margin: 0;
    padding: 10px 0 0 14px;
    color: var(--dark-75, rgba(31, 32, 65, 0.75));
    line-height: 24px;
  }
}
