mixin calendar
    div(class="wrapper" class!=attributes.class)
        header
            p.current-date
        div(class="icons")
            span(id="prev" class="left")
            span(id="prev" class="left")
        .calendar
            ul.weeks
                li Пн
                li Вт
                li Ср
                li Чт
                li Пт
                li Сб
                li Вс
            ul.days
            .buttons
                button(class="btn__delete btn-reset") очистить
                button(class="btn__submit btn-reset") применить