include elements
+default-textfield("Имя")
+inputEmail("rightarow")
+howManyGuests("Взрослые","Дети","Младенцы")
+comfort("smile","Комфорт","Шумопоглощающие стены")
+button-colored("click me")
+button-uncolored("click me")
+button-buy("перейти к оплате")
+pagination("arrow")
+checkbox("Можно курить")
+radio
+toggle
+like
+rating
+bullet-list
+calendar
+reviews("user-1","Мурад Сарафанов","Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.")
+range-slider
+registration