mixin input()
    input(class="input-email input-reset" type="text" placeholder="E-mail")

mixin howManyGuests
    .select-menu
        input(class="select-menu__input input-reset" type="text" placeholder="Сколько гостей")
    div(class="guests guests-rooms")
        div(class="guests__box guests-rooms__box")
            p(class="guests__text") взрослые
            div(class="guests__count")
                span(class="guests__minus" id="minusAdults") -
                span(class="guests__num" id="numAdults") 0
                span(class="guests__plus" id="plusAdults") +
        div(class="guests__box guests-rooms__box")
            p(class="guests__text") дети
            div(class="guests__count")
                span(class="guests__minus" id="minusChildren") -
                span(class="guests__num" id="minusChildren") 0
                span(class="guests__plus" id="minusChildren") +
        div(class="guests__box guests-rooms__box")
            p(class="guests__text") младенцы
            div(class="guests__count")
                span(class="guests__minus" id="minusInfants") -
                span(class="guests__num" id="numInfants") 0
                span(class="guests__plus" id="plusInfants") +
        div(class="guests-btn guests-rooms__btn")
            button(class="btn-reset guests-btn__action" id="guestsDelete") очистить
            button(class="btn-reset guests-btn__action" id="guestsSubmit") применить

mixin textfield
    input(class="select-menu__input input-reset" type="text" placeholder="ДД.ММ.ГГГГ")

mixin date
    .date
        input(class="date__input input-reset" type="text" placeholder="ДД.ММ.ГГГГ")
        input(class="date__input input-reset" type="text" placeholder="19.08.2019")

mixin parametrs
    div(intelligence)
        div(class="intelligence__box")
            img(src=require('/src/images/smile.png') alt='logo')
            p(class="intelligence__title") Комфорт
            p(class="intelligence__text") Шумоподавляющие стены
