header(class='header')
    div(class="header__container container flex")
        a(class='header__link')
            img(src=require('/src/images/Logo.svg') alt='logo')
        nav(class="nav" title="Main navigation")
            ul(class="nav__list list-reset flex")
                li(class="nav__item")
                    a(href="#" class="nav__link nav__link-active") О нас
                li(class="nav__item")
                    a(href="#" class="nav__link") Услуги
                        img(class="nav__img" src=require('/src/images/down.svg'))
                li(class="nav__item")
                    a(href="#" class="nav__link") Вакансии
                li(class="nav__item")
                    a(href="#" class="nav__link") Новости
                li(class="nav__item")
                    a(href="#" class="nav__link") Соглашения
                        img(class="nav__img" src=require('/src/images/down.svg'))
                li(class="nav__item")
                    a(href="#" class="button-uncolored btn-reset") войти
                li(class="nav__item")
                    a(href="#" class="button-colored btn-reset") зарегистрироваться
                //- li(class="nav__item nav__user")
                //-     a(href="#" class="nav__link") Юлий Цезарь