include ../../components/button/button.pug
section(class="hero")
    div(class="hero__container container")
        div(class="hero__content")
            +booking(class="hero-booking")
            +calendar
            p(class="hero__text") Лучшие номера для вашей работы, отдыха и просто вдохновения