include ../../components/button/button.pug
include ../../components/booking/booking.pug
include ../../components/calendar/calendar.pug

section(class="landing")
    div(class="landing__container container flex")
        div(class="landing__content")
            +booking(class="landing-title")
        p(class="landing__text flex") Лучшие номера для вашей работы, отдыха и просто вдохновения