include ../../components/button/button.pug
include ../../components/calendar/calendar.pug
include ../../components/input-email/input-email.pug
include ../../components/dropdown-menu/dropdown-menu.pug
include ../../components/booking/booking.pug
include ../../components/default-textfield/default-textfield.pug
include ../../components/how-many-guests/how-many-guests.pug

section(class="landing")
    div(class="landing__container container flex")
        div(class="landing__content")
            +booking(class="landing-title")
        p(class="landing__text flex") Лучшие номера для вашей работы, отдыха и просто вдохновения