include ../../components/registration/registration.pug
include ../../components/radio/radio.pug
include ../../components/toggle/toggle.pug
include ../../components/default-textfield/default-textfield.pug
include ../../components/input-email/input-email.pug
section(class="registration")
    div(class="registration__inner container")
        +registration