include ../../components/registration/registration.pug
include ../../components/radio/radio.pug
include ../../components/toggle/toggle.pug
section(class="registration")
    div(class="registration__inner container")
        +registration