include ../../components/button/button.pug
include ../../components/bullet-list/bullet-list.pug
include ../../components/degnities/degnities.pug
include ../../components/like/like.pug
include ../../components/reviews/reviews.pug
include ../../components/calendar/calendar.pug
include ../../components/default-textfield/default-textfield.pug
include ../../components/how-many-guests/how-many-guests.pug
include ../../components/input-email/input-email.pug
include ../../components/booking/booking.pug
include ../../components/dropdown-menu/dropdown-menu.pug

section(class="room")
  div(class="room__content")
    div(class="room__images flex")
      div
        img(class="room__img" src=require('/src/images/room-1.png') alt='logo')
      div(class="room__aside flex")
        img(class="room__img" src=require('/src/images/room-2.png') alt='logo')
        img(class="room__img" src=require('/src/images/room-3.png') alt='logo')
    div(class="room__global flex container")
      div(class="room__box")
        div(class="room-about")
          div(class="comfort")
            h2(class="comfort__title") Сведения о номере
            +degnities("smile","Комфорт","Шумопоглощающие стены")
            +degnities("city","Удобство","Окно в каждой из спален")
            +degnities("hot","Уют","Номер оснащён камином")
          div(class="impressions")
            h2(class="impressions__title") Впечатления от номера
            div(class="impressions__content")
              div(class="impressions__vote flex")
                p(class="impressions__num") 260
                  span(class="impressions__text") голосов
              div(class="impressions__box")
                p(class="impressions__orange impressions__global") Великолепно
                p(class="impressions__green impressions__global") Хорошо
                p(class="impressions__purple impressions__global")  Удовлетворительно
                p(class="impressions__black impressions__global") Разочарован
        div(class="reviews")
          div(class="reviews__titles flex")
            h2 Отзывы посетителей номера
            p(class="reviews__text") 2 отзыва
          +reviews("user-1","Мурад Сарафанов","Великолепный матрас на кровати   в     основной спальне! А пуфик вообще потрясающий. И стены,  действительно,     шумоподавляющие. Выкрикивал комплименты повару —  никто не жаловался из    соседей.")
          +reviews("user-2","Патрисия Стёклышкова","Обслуживание на высоте!   Всё     аккуратно, чисто. Завтраки в номер советую заказать, каждый   день новое    блюдо и десерт как комплимент")
        +bullet-list
      div(class="room__booking")
        +room-booking