include ../../components/checkbox/checkbox.pug
include ../../components/range-slider/range-slider.pug
include ../../components/pagination/pagination.pug
include ../../components/rating/rating.pug
include ../../components/room-card/room-card.pug

section(class="search-room")
  div(class="search-room__container container")
    aside(class="aside")
      h3(class="aside__title") даты пребывания в отеле
      +dropdown-calendar("Дата")(class="drop-calendar")
      h3(class="aside__title") гости
      +dropdown-guests("Сколько гостей")
      +range-slider
      h3(class="aside__drop-title") правила дома
      div(class="aside-checkbox")
        +checkbox("Можно курить")
        +checkbox("Можно с питомцами")
        +checkbox("Можно пригласить гостей (до 10 человек)")
      h3(class="aside__drop-title") доступность
      div(class="aside-checkbox")
        +checkbox("Ширина коридоров в номере не менее 91 см.","Широкий коридор")
        +checkbox("На 1 этаже вас встретит специалист  и проводит до номера.","Помощник для инвалидов")
      h3(class="aside__title") удобства номера
      +dropdown-second("Удобства")
      +dropdown-menu
    div(class="cards")
      +room-card("card1","888","ЛЮКС","9 990","145")
      +room-card("card2","840","","9 900","65")
      +room-card("card3","980","ЛЮКС","8 500","35")
      +room-card("card4","856","","7 300","19")
      +room-card("card5","740","","6 000","44")
      +room-card("card6","982","","5 800","56")
      +room-card("card7","678","","5 500","45")
      +room-card("card8","450","","5 300","39")
      +room-card("card9","350","","5 000","77")
      +room-card("card10","666","","5 000","25")
      +room-card("card11","444","","5 000","15")
      +room-card("card12","352","","5 000","55")
    +pagination("arrow")