include ../../components/button/button.pug
header(class='header')
  div(class="header__body")
    div(class="header__container container flex")
      a(class='header__link')
        img(src=require('/src/images/Logo.svg') alt='logo')
      nav(class="nav" title="Main navigation")
        button(class="nav__btn")
          span
          span 
          span
          span
          span
        ul(class="nav__list list-reset flex")
          li(class="nav__item")
            a(href="#" class="nav__link nav__link-active") О нас
          li(class="nav__item")
            a(href="#" class="nav__link") Услуги
            img(class="nav__img" src=require('/src/images/down.svg'))
          li(class="nav__item")
            a(href="#" class="nav__link") Вакансии
          li(class="nav__item")
            a(href="#" class="nav__link") Новости
          li(class="nav__item")
            a(href="#" class="nav__link") Соглашения
            img(class="nav__img" src=require('/src/images/down.svg'))
          li(class="nav__item")
            +button({span:"войти", size:"small"},"a","signin.pug")
          li(class="nav__item")
            +button({span:"зарегистрироваться", size:"large"},"a","registration.pug")