.header {
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(31, 32, 65, .05);
    z-index: 1;
  
    &__body {
      margin: 0 auto;
      max-width: 1440px;
      min-width: 320px;
    }
  
    &__container {
      align-items: center;
      justify-content: space-between;
      padding: 13px 140px;
    }
  }
  
  .nav {
    align-items: center;
  
    &__img {
      margin-left: 5px;
    }
  
    &__list {
      align-items: center;
      gap: 20px;
    }
  
    &__link {
      color: var(--dark-shade50);
  
      &-active {
        color: rgba(31, 32, 65, 0.75);
        font-weight: 700;
      }
    }
  
    &__user {
      position: relative;
  
      ::after {
        position: absolute;
        content: '';
        width: 1px;
        height: 30px;
        background: var(--dark-10);
        left: -10px;
        top: -5px;
      }
    }
  }