mixin bullet-list
    div(class="bullet-list container")
        div(class="bullet-list__content")
            h2(class="bullet-list__title") Правила
            p(class="bullet-list__text bullet-list__textdot") Нельзя с питомцами
            p(class="bullet-list__text bullet-list__textdot") Без вечеринок и мероприятий
            p(class="bullet-list__text bullet-list__textdot") Время прибытия — после 13:00, а выезд до 12:00
        div(class="bullet-list__content")
            h2(class="bullet-list__title") Отмена
            p(class="bullet-list__text") Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.