.footer {
  background-color: #fff;
}
.top {
  margin: 0 auto;
  max-width: 1440px;
  min-width: 320px;

  &__wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 250px 548px 260px;
    gap: 40px;
    @media (max-width: 1210px) {
      grid-template-columns: 260px 260px;
      justify-content: space-around;
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1210px) {
      display: none;
    }
  }

  &__logo {
    margin-bottom: 21px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 21px;
  }

  &__text {
    color: var(--dark-shade75);
    line-height: 24px;
    margin-bottom: 20px;
  }

  &__item {
    margin-bottom: 21px;
  }

  &__link {
    color: var(--dark-shade50);
  }
}

.bot {
  border-top: 1px solid rgba(31, 32, 65, 0.1);
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);

  &__wrapper {
    align-items: center;
    padding-top: 23px;
    padding-bottom: 23px;
  }

  &__social {
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1210px) {
      justify-content: space-around;
    }
  }

  &__text {
    color: var(--dark-shade75);
  }

  &__list {
    justify-content: right;
    gap: 20px;
  }
}
