mixin toggle
    div(class="toggle")
        label(class="toggle__label" for="toggle")
            input(class="toggle__input" type="checkbox" id="toggle")
            span(class="toggle__span")
            p(class="toggle__text") Получать спецпредложения