doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    div(class="global-wrapper")
      include html/includes/header
      main(class="main")
          include html/includes/room
      include html/includes/footer
