.booking {
    position: relative;
    padding-bottom: 33px;
    margin-top: 65px;
    border-radius: 4px;
    background-color: var(--light-color);
    width: 380px;
    
    &__box {
      padding: 0 30px;
      gap: 21px 0;
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto;
      grid-auto-flow: row;
    }
  
    &__text {
      font-size: 12px;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 5px;
      color: var(--dark-shade100);
      font-weight: 700;
    }
  
    &__input {
      padding: 12px 45px 12px 15px;
      width: 150px;
      height: 44px;
      outline: none;
    }
  
    &__guests {
      grid-column: span 2;
      margin-bottom: 31px;
    }
  
    &__inputguest {
      padding: 12px 45px 12px 15px;
      width: 320px;
      height: 44px;
      outline: none;
    }
  
    &__btn {
      display: block;
      margin: 0 auto;
      width: 320px;
      height: 44px;
    }
  }
