.default-textfield {
  display: inline-block;
  position: relative;

  &__input {
    width: 100%;
    padding: 12px 130px 12px 15px;
    background: var(--light-color);
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    outline: none;
    transition: .3s ease-in-out;

    &::placeholder {
      color: var(--dark-shade25);
    }

    &:hover {
      border: 1px solid var(--dark-shade50);
    }
  }

  &__box {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY((-50%));
    cursor: pointer;
  }
}

.select-menu {
  &__input {
    width: 320px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    padding: 12px 45px 12px 15px;
    outline: none;
    transition: .3s ease-in-out;

    &::placeholder {
      color: var(--dark-shade75);
      line-height: 18px;
    }

    &:hover {
      border: 1px solid var(--dark-shade50);
    }
  }
}

.guests-rooms {
  width: 320px;
  height: auto;
  // display: none;

  &__active {
    display: block;
  }

  &__box {
    grid-template-columns: 160px 100px;
    justify-content: space-between;
  }

  &__btn {
    margin-top: 15px;
    margin-bottom: 13px;
  }
}

.comfort {
  &__title {
    margin-bottom: 20px;
  }

  &__box {
    display: grid;
    grid-template-columns: 50px 210px;
    width: 280px;
    padding-bottom: 17px;
    margin-bottom: 23px;
    border-bottom: 1px solid var(--dark-10, rgba(31, 32, 65, 0.1));
  }

  &__img {
    grid-row: 1/3;
  }

  &__uptitle {
    color: var(--dark-shade75);
    font-family: var(--second-family);
    font-weight: 700;
    line-height: 24px;
  }

  &__text {
    color: var(--dark-shade75);
    line-height: 24px;
  }
}

.button-uncolored {
  padding: 10px 20px;
  border: 2px solid var(--Primary-Gradient, #bc9cff);
  border-radius: 50px;
  transition: .3s ease-in-out;

  &:hover {
    opacity: 0.5;
  }

  &__text {
    font-size: var(--second-size);
    font-family: var(--second-family);
    text-transform: uppercase;
    font-weight: 700;
    color: var(--Primary-Gradient, #bc9cff);
  }
}

.button-colored {
  padding: 10px 20px;
  background: var(--primary-gradient);
  border-radius: 50px;
  transition: .3s ease-in-out;

  &:hover {
    opacity: 0.5;
  }

  &__text {
    font-size: var(--second-size);
    font-family: var(--second-family);
    text-transform: uppercase;
    font-weight: 700;
    color: var(--light-color);
  }
}

.button-buy {
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 90px;
  background: var(--primary-gradient);
  border-radius: 50px;
  transition: .3s ease-in-out;

  &:hover {
    opacity: 0.5;
  }

  &__text {
    position: relative;
    font-size: var(--second-size);
    font-family: var(--second-family);
    text-transform: uppercase;
    font-weight: 700;
    color: var(--light-color);

    &::after {
      position: absolute;
      content: '';
      background-image: url("../images/arrow.svg");
      background-repeat: no-repeat;
      width: 30px;
      height: 30px;
      right: -100px;
      top: -3px;
    }
  }
}

.radio {
  display: flex;
  gap: 0 20px;
  margin-bottom: 20px;

  &__label {
    display: flex;
    align-items: center;
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &__text {
    padding-left: 30px;
  }
}

.radio__span {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid var(--dark-25, rgba(31, 32, 65, 0.25));
  background: #fff;
}

.radio__input:checked+.radio__span::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--Primary-Color, #bc9cff);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio__input:checked+.radio__span {
  border: 1px solid var(--Primary-Color, #bc9cff);
}

.toggle {
  display: flex;
  align-items: center;
  gap: 0 20px;
  margin-bottom: 20px;

  &__label {
    display: block;
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &__text {
    color: var(--dark-75, rgba(31, 32, 65, 0.75));
    padding-left: 50px;
  }

  &__span {
    position: absolute;

    &::before {
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 40px;
      height: 20px;
      border-radius: 10px;
      border: 1px solid var(--dark-25, rgba(31, 32, 65, 0.25));
      background-color: #fff;
      transition: border .3s;
    }

    &::after {
      display: block;
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      border-radius: 10px;
      background-color: var(--dark-25, rgba(31, 32, 65, 0.25));
      left: 4px;
      top: 4px;
      transition: background-color .3s, left .3s;
    }
  }
}

.toggle__input:checked+.toggle__span::before {
  border: 1px solid var(--Primary-Color, #BC9CFF);
}

.toggle__input:checked+.toggle__span::after {
  background-color: var(--Primary-Color, #BC9CFF);
  left: 24px;
}

.col {
  display: grid;
  gap: 20px;
}

.checkbox {
  align-items: stretch;
  margin-bottom: 13px;

  &__checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid var(--dark-25, rgba(31, 32, 65, 0.25));
    border-radius: 4px;
    cursor: pointer;
  }

  &__title {
    color: var(--dark-75, rgba(31, 32, 65, 0.75));
    font-family: var(--second-family);
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 5px;
    margin-left: 10px;
  }

  &__label {
    color: var(--dark-50, rgba(31, 32, 65, 0.50));
    font-size: 12px;
    line-height: 14px;
    margin-left: 10px;
  }

  &__wrap {
    width: 255px;
    display: grid;
  }
}

.checkbox>input {
  display: none;
}

.checkbox>input,
.checkbox .checkbox-icon {
  display: none;
}

.checkbox.state_checked .checkbox__checkmark {
  border: 1px solid var(--Primary-Color, #BC9CFF);
}

.checkbox.state_checked .checkbox__checkmark .checkbox-icon {
  display: flex;
}

.like {
  &__content {
    border-radius: 10px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    background-color: var(--light-color);
    width: 40px;
    height: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__img {
    width: 20px;
    height: 20px;
    background-image: url("../images/favorite-empty.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__num {
    color: var(--dark-shade25);
    text-align: center;
    font-size: 10px;
  }
}

.like__content-active {
  border: 1px solid #BC9CFF;
}

.like__img-active {
  background-image: url('../images/favorite.svg');
}

.like__num-active {
  color: var(--Primary-Color, #BC9CFF);
}

.rating {
  position: relative;
  display: inline-block;

  &__items {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    flex-direction: row-reverse;
    overflow: hidden;
  }

  &__item {
    display: none;
    position: relative;
    width: 0px;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;

    &::before {
      position: absolute;
      content: "";
      width: 24px;
      height: 24px;
      background-image: url("../images/star-empty.svg");
      background-repeat: no-repeat;
      display: block;
    }
  }

  &__label {
    height: 100%;
    cursor: pointer;

    &::before {
      content: "";
      background-image: url("../images/star-empty.svg");
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
      display: block;
      transition: color 0.3s ease 0s;
    }
  }
}

.rating__label:hover,
.rating__label:hover~.rating__label,
.rating__label:checked~.rating__label:hover {
  background-image: url("../images/star.svg");
  background-repeat: no-repeat;
}

.rating__item:checked,
.rating__item:checked~.rating__label {
  background-image: url("../images/star.svg");
  background-repeat: no-repeat;
}

.pagination {
  grid-column: 2;
  text-align: center;
  align-items: center;

  &__link {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--dark-shade50);
    font-size: var(--second-size);

    &-active {
      border-radius: 50%;
      color: var(--light-color);
      background: var(--primary-gradient);
      font-weight: 700;
    }

    &-forward {
      justify-content: center;
      display: flex;
      align-items: center;
      width: 40px;
      height: 40px;
      color: var(--dark-shade50);
      font-size: var(--second-size);
      background: var(--primary-second);
      border-radius: 50%;
    }

    &:hover {
      border-radius: 50%;
      font-weight: 700;
      color: var(--light-color);
      background: var(--primary-gradient);
    }
  }

  &__text {
    color: var(--dark-shade75);
    line-height: 24px;
  }
}

.bullet-list {
  margin-top: 8px;
  display: grid;
  grid-template-columns: 270px 370px;
  gap: 0 100px;

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    position: relative;
    color: var(--dark-75, rgba(31, 32, 65, 0.75));
    line-height: 24px;
    margin-bottom: 10px;
  }

  &__textdot {
    &::before {
      position: absolute;
      content: "";
      top: 7px;
      left: -15px;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background: rgba(31, 32, 65, 0.25);
      ;
    }
  }
}

.reviews {
  margin-bottom: 30px;

  &__box {
    margin-bottom: 22px;
  }

  &__titles {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 705px;
    margin-top: 7px;
  }

  &__content {
    display: grid;
    grid-template-columns: 630px;
  }

  &__text {
    color: rgba(31, 32, 65, 0.50);
    line-height: 14px;
  }

  &__img {
    grid-row: 1/3;
    height: 60px;
  }

  &__userbox {
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: 20px 20px;
    margin-bottom: 10px;
    gap: 0 14px;
  }

  &__name {
    color: var(--dark-75, rgba(31, 32, 65, 0.75));
    font-family: var(--second-family);
    font-weight: 700;
    line-height: 24px;
  }

  &__days {
    color: var(--dark-75, rgba(31, 32, 65, 0.75));
    line-height: 24px;
  }

  &__commentsbox {
    display: grid;
    grid-template-columns: 40px auto;
    gap: 0 14px;
  }

  &__comment {
    color: var(--dark-75, rgba(31, 32, 65, 0.75));
    line-height: 24px;
  }
}

.room-card {
  background-color: var(--light-color);
  box-shadow: (0px 10px 20px rgba(31, 32, 65, 0.05));
  border-radius: 5px;
  display: inline-block;


  &__img {
    border-radius: 5px;
  }

  &__num {
    color: var(--dark-shade100);
    font-weight: 700;
  }

  &__number {
    color: var(--dark-shade100);
    font-family: var(--second-family);
    font-size: 19px;
    font-weight: 700;
  }

  &__luxury {
    color: var(--purple-color);
    font-size: var(--second-size);
    font-weight: 700;
    text-transform: uppercase;
  }

  &__day {
    color: rgba(31, 32, 65, 0.50);
    font-size: var(--second-size);
    line-height: 18px;
    font-weight: 400;
  }

  &__numofrev {
    color: var(--dark-50, rgba(31, 32, 65, 0.50));
    text-align: right;
    font-family: var(--second-family);
    font-weight: 700;
    line-height: 18px;
  }

  &__reviews {
    color: var(--dark-50, rgba(31, 32, 65, 0.50));
    font-weight: 400;
    line-height: 18px;
  }

  &__price {
    color: rgba(31, 32, 65, 0.50);
    font-family: var(--second-family);
    font-weight: 700;
    line-height: 18px;
    margin-right: 5px;
  }

  &__info {
    width: 230px;
    margin: 0 auto;
    padding: 20px 0 10px;
    justify-content: space-between;
    border-bottom: 1px solid rgba(31, 32, 65, 0.10);
  }

  &__rating {
    width: 230px;
    margin: 0 auto;
    padding: 10px 0 20px;
    justify-content: space-between;
  }
}

.wrapper {
  width: 320px;
  background: var(--light-color);
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  filter: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.05));
  display: none;

  &--visible {
    display: block;
  }
}

.wrapper header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

header .current-date {
  font-size: 1.45rem;
  font-weight: 500;
  margin: 0 auto;
}

.icons {
  position: relative;
}

.left {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translateX(-278px);
}

.right {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.calendar {
  padding: 20px;
}

.calendar ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}

.weeks {
  margin: 0;
  padding-left: 0;
}

.days {
  margin-top: 0;
  padding-left: 0;
  color: var(--dark-shade100);
}

.calendar .days {
  margin-bottom: 20px;
}

.calendar .weeks li {
  font-weight: 500;
  color: var(--purple-color);
}

.calendar .days li {
  z-index: 1;
  cursor: pointer;
  margin-top: 30px;
}

.calendar ul li {
  position: relative;
  width: calc(100% / 7);
}

.days li.inactive {
  color: rgb(195, 194, 194);
}

.days li.active {
  color: var(--light-color);
}

.calendar .days li::before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  top: 50%;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.days li:hover::before {
  background: var(--green-color);
}

.days li.active::before {
  background: var(--purple-color);
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.btn__delete {
  border: none;
  color: var(--purple-color);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn__submit {
  border: none;
  color: var(--purple-color);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.guests {
  width: 320px;
  height: 182px;
  background-color: var(--light-color);
  border-radius: 4px;
  border: 1px solid var(--dark-shade25);

  &__box {
    align-items: center;
    display: grid;
    grid-template-columns: 220px 100px;
  }

  &__text {
    padding-left: 15px;
    color: var(--dark-100);
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__count {
    align-items: center;
    padding: 7px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__num {
    margin: 0 auto;
  }

  &__plus {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgba(31, 32, 65, 0.5);
    font-size: 18px;
    font-weight: 400;
    border: 1px solid rgb(178, 178, 178);
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

  &__minus {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgba(31, 32, 65, 0.5);
    font-size: 18px;
    font-weight: 400;
    border: 1px solid rgb(178, 178, 178);
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
}

.range {
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 25px 40px;
}

.price-input {
  width: 100%;
  margin: 30px 0 35px;

  &__field {
    height: 45px;
    width: 100%;
    align-items: center;
  }

  &__separator {
    width: 130px;
    font-size: 19px;
    align-items: center;
    justify-content: center;
  }
}

.pricevalue {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 19px;
  text-align: center;
  margin-left: 12px;
  border-radius: 5px;
  border-radius: 1px solid #999;
  -webkit-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

.slider {
  height: 6px;
  border-radius: 3px;
  border: 1px solid var(--dark-25, rgba(31, 32, 65, 0.25));
  background: #FFF;
  position: relative;

  &__progress {
    position: absolute;
    left: 25%;
    right: 25%;
    height: 6px;
    border-radius: 3px;
    background: var(--primary-second);
  }
}

.range-input {
  position: relative;
}
.slider-input {
  position: absolute;
  top: -6px;
  height: 6px;
  width: 100%;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  pointer-events: auto;
  -webkit-appearance: none;
  background-color: var(--primary-second);
}