.footer{
  background-color: #fff;
}
.top {
  margin: 0 auto;
  max-width: 1440px;
  min-width: 320px;

  &__wrapper {
    padding: 100px 140px;
    display: grid;
    grid-template-columns: 250px auto auto auto 260px;
    gap: 40px;
  }

  &__logo {
    margin-bottom: 21px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 21px;
  }

  &__text {
    color: var(--dark-shade75);
    line-height: 24px;
    margin-bottom: 20px;
  }

  &__item {
    margin-bottom: 21px;
  }

  &__link {
    color: var(--dark-shade50);
  }
}

.bot {
  border-top: 1px solid rgba(31,32,65,.1);
  box-shadow: 0 10px 20px rgba(31,32,65,.05);

  &__wrapper {
    margin: 0 auto;
    max-width: 1440px;
    min-width: 320px;
    justify-content: space-between;
    align-items: center;
    padding: 22.5px 140px;
  }

  &__text {
    color: var(--dark-shade75);
  }

  &__list {
    justify-content: right;
    gap: 20px;
  }
}