.registration {
    padding: 19px 0;
    background-image: url("../images/bg-log.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 753px;
}

.reg {
    background-color: #fff;
    width: 380px;
    padding: 40px 30px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.2));
    margin: 0 auto;
    border-radius: 4px;

    &__main-title {
        margin-bottom: 20px;
    }

    &__title {
        margin-bottom: 5px;
    }

    &__box {
        align-items: center;
        justify-content: space-between;
    }
}