.room {
  border-bottom: 1px solid rgb(225, 225, 225);
  &__images {
    justify-content: center;
    align-items: center;
  }
  &__aside {
    flex-direction: column;
    height: 50%;
    @media (max-width: 1250px) {
      display: none;
    }
  }
  &__global {
    padding-top: 70px;
    padding-bottom: 70px;
    @media (max-width: 850px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    @media (max-width: 1250px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.room-about {
  display: grid;
  grid-template-columns: 400px 400px;
  @media (max-width: 850px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }
}

.impressions {
  &__title {
    margin-bottom: 20px;
  }

  &__content {
    display: grid;
    grid-template-columns: 150px 146px;
  }

  &__vote {
    width: 120px;
    height: 120px;
    background-image: url("../images/circle.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
  }

  &__num {
    color: var(--purple-color);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
  }

  &__text {
    display: flex;
    justify-content: center;
    color: var(--purple-color);
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__box {
    margin-top: 30px;
    display: wrap;
  }

  &__global {
    position: relative;
    color: var(--dark-75, rgba(31, 32, 65, 0.75));
    line-height: 24px;
  }

  &__orange {
    &::before {
      position: absolute;
      content: "";
      top: 7px;
      left: -15px;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
    }
  }

  &__green {
    &::before {
      position: absolute;
      content: "";
      top: 7px;
      left: -15px;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background: var(
        --Secondary-Gradient,
        linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%)
      );
    }
  }

  &__purple {
    &::before {
      position: absolute;
      content: "";
      top: 7px;
      left: -15px;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background: var(
        --Primary-Gradient,
        linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%)
      );
    }
  }

  &__black {
    &::before {
      position: absolute;
      content: "";
      top: 7px;
      left: -15px;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background: linear-gradient(180deg, #909090 0%, #3d4975 100%);
    }
  }
}
