.room {
  border-bottom: 1px solid rgb(225, 225, 225);

  &__images {
    display: grid;
    grid-template-columns: auto 695px;
    grid-template-rows: 242px 242px;
  }

  &__largeimg {
    width: 100%;
    align-self: stretch;
    grid-row: 1/-1;
    grid-column: 1/2;
  }

  &__img {
    align-self: stretch;
    width: 100%;
    object-fit: cover;
  }
  &__global {
    padding: 70px 0;
  }
}

.room-about {
  display: grid;
  grid-template-columns: 400px 400px;
}

.impressions {
  &__title {
    margin-bottom: 20px;
  }

  &__content {
    display: grid;
    grid-template-columns: 150px 146px;
  }

  &__vote {
    width: 120px;
    height: 120px;
    background-image: url("../images/circle.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
  }

  &__num {
    color: var(--purple-color);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
  }

  &__text {
    display: flex;
    justify-content: center;
    color: var(--purple-color);
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__box {
    margin-top: 30px;
    display: wrap;
  }

  &__global {
    position: relative;
    color: var(--dark-75, rgba(31, 32, 65, 0.75));
    line-height: 24px;
  }

  &__orange {
    &::before {
      position: absolute;
      content: "";
      top: 7px;
      left: -15px;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
    }
  }

  &__green {
    &::before {
      position: absolute;
      content: "";
      top: 7px;
      left: -15px;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background: var(--Secondary-Gradient, linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%));
    }
  }

  &__purple {
    &::before {
      position: absolute;
      content: "";
      top: 7px;
      left: -15px;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background: var(--Primary-Gradient, linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%));
    }
  }

  &__black {
    &::before {
      position: absolute;
      content: "";
      top: 7px;
      left: -15px;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background: linear-gradient(180deg, #909090 0%, #3D4975 100%);
    }
  }
}