:root {
  --font-family: "MontserratRegular", sans-serif;
  --second-family: "MontserratBold", sans-serif;
  --content-width: 1160px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  --main-size: 14px;
  --second-size: 12px;

  --light-color: #FFF;
  --dark-shade100: #1F2041;
  --dark-shade75: #1F2041BF;
  --dark-shade50: #1F204180;
  --dark-shade25: #1F204140;
  --dark-10: rgba(31, 32, 65, 0.10);
  --dark-shade5: #cdcccc;
  --purple-color: #BC9CFF;
  --primary-gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  --green-color: #6FCF97;
  --primary-second: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}
