.landing {
  background: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  width: 100%;
  height: 100%;

  &__container {
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    min-width: 320px;
    padding-top: 70px;

    @media (max-width: 1000px) {
      flex-direction: row;
      justify-content: center;
      padding: 100px 0;
    }
  }

  &__content {
    min-width: 380px;
  }

  &__text {
    align-self: flex-end;
    margin: 0;
    max-width: 297px;
    padding-top: 307px;
    padding-bottom: 21px;
    text-align: end;
    color: var(--dark75);
    line-height: 24px;
    @media (max-width: 1000px) {
      display: none;
    }
  }
}

.landing-title {
  padding-bottom: 5px;
}

.drop-hero {
  margin: 0 auto;

  &__input {
    width: 320px;
  }
}
